<div class="row">
  <h1>Proyectos</h1>
  <div class="contenedor">
    <diV class="col-sm-12 col-md-7 col-lg-7">
      <h1>pagina web</h1>
      <p>
        Desarrollé y diseñé una página web estática para una radio comunitaria
        como parte de mi aprendizaje en HTML y CSS. La página cuenta con una
        interfaz atractiva y fácil de usar, y presenta información relevante
        sobre la radio, como su historia, programación y contacto. La página
        está alojada en un servicio de hosting gratuito
      </p>
    </diV>
    <div></div>
  </div>
</div>
