.perfil-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.perfil-foto {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 100%;
}

.perfil-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perfil-info h2 {
  margin-bottom: 0;
}
