.perfil-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.perfil-foto {
  margin-top: -140px;  
  margin-left: 3px;
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 100%;
}

.perfil-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perfil-info h2 {
  margin-bottom: 0;
}

#texto{
    margin-left: 6px;
}
#acerca{
    margin-left: 6px; 
}