.row{
    padding: 20px;
}
div{
    text-align: center;
}
/*estilo de la foto de perfil*/
@media(min-whidth:576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        
    }

}



/*etiqueta nombre*/

#nombre{
    font-weight: bold;
    margin-top: 30%;
    
}