<div class="row perfil-container">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <img
      src="../../../assets/perfil.png"
      class="perfil-foto"
      alt="Foto de perfil"
    />
  </div>
  <div class="col-sm-9 col-md-9 col-lg-9 perfil-info">
    <h2>Cristian Portales</h2>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1 id="acerca">Acerca de mi</h1>
      <p id="texto">
        ¡Hola! Soy Cristian, un aprendiz de Full Stack Developer Jr apasionado
        por la programación y el desarrollo web. He estado trabajando en varios
        proyectos de desarrollo web utilizando tecnologías como HTML, CSS,
        JavaScript y React. Me encanta aprender nuevas tecnologías y estoy
        interesado en el desarrollo de aplicaciones web escalables y robustas.
        Mi objetivo es convertirme en un desarrollador de Full Stack Senior en
        un futuro cercano. Soy una persona muy motivada y trabajadora, y siempre
        me esfuerzo por dar lo mejor de mí en todo lo que hago. Creo en la
        importancia del trabajo en equipo y la colaboración para lograr los
        mejores resultados. Estoy emocionado de seguir aprendiendo y creciendo
        como desarrollador de Full Stack. ¡Gracias por visitar mi portfolio!
      </p>
    </span>
  </div>
</div>
