<div class="row">
  <h1>Experiencia</h1>
  <div class="col-xs-12">
    <ul>
      <li>
        Creador de sitios web para particulares utilizando tecnologías como
        HTML, CSS y WordPress. Desarrollé y mantuve sitios web para varios
        clientes, trabajando en estrecha colaboración con ellos para asegurarme
        de que sus necesidades y objetivos se cumplieran. Me encargué de la
        creación de contenido, diseño y la implementación de funcionalidades
        específicas para cada sitio web.
      </li>
    </ul>
  </div>
</div>
