<div class="row">
  <h1>Hard Skills & Soft Skills</h1>
  <div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="40"
      [radius]="70"
      [title]="'HTML 50'"
      [subtitleColor]="'#030303'"
      [titleFontSize]="'15'"
      [titleFontWeight]="'900'"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#527500'"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="40"
      [radius]="70"
      [title]="'CSS 40'"
      [subtitleColor]="'#030303'"
      [titleFontSize]="'15'"
      [titleFontWeight]="'900'"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#527500'"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="40"
      [radius]="70"
      [title]="'JS 30'"
      [subtitleColor]="'#030303'"
      [titleFontSize]="'15'"
      [titleFontWeight]="'900'"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#527500'"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="40"
      [radius]="70"
      [title]="'PYTHON 50'"
      [subtitleColor]="'black'"
      [titleFontSize]="'15'"
      [titleFontWeight]="'900'"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#527500'"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="40"
      [radius]="70"
      [title]="'English 20'"
      [subtitleColor]="'#030303'"
      [titleFontSize]="'15'"
      [titleFontWeight]="'900'"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#527500'"
    >
    </circle-progress>
  </div>
  <div class="text-center col-sm4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="40"
      [radius]="70"
      [title]="'AngularJS 30'"
      [subtitleColor]="'#030303'"
      [titleFontSize]="'15'"
      [titleFontWeight]="'900'"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#527500'"
    >
    </circle-progress>
  </div>
</div>
